html {
    background-image: linear-gradient( 179.7deg,  rgba(249,21,215,1) 1.1%, rgba(22,0,98,1) 99% );
    color:white;
    font-family: DejaVu Sans Mono, monospace;
}
a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color:black;
    font-size:25px;
    text-align: center;
    transition: 0.5s ease;
}
a:hover {
    color: blue;
    font-size: 27px;
}

.navigation_bar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    padding:30px;
    position:sticky;
}

h1 {
    font-size:60px;
    text-align: center;
    
}
.landing {
    background-color: black;
    border-radius: 10px;
}
.hero {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    padding:20px
}
.content {
    display:flex;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}
button {
    border:none;
    height:100px;
    border: 3px solid blueviolet;
    border-radius: 20px;
    transition: 0.5s ease;
}
button:hover {
    background-color: blueviolet;
    border:none;
    border-radius: 0px;
}

.add_info {
    font-size: 20px;
    font-style: italic;
}

.portfolio {
    text-align: center;
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr
}
.portfolio-item{
    margin: 20px;
}
.portfolio-item > img {
    height: 200px
}
.title{
    margin: 10px;
    padding: 10px;
    color:black;
    font-size:25px;
    text-align: center;
}
.heading {
    color: white;
    font-size: 15px;
    text-align: center;
}

footer {
    padding: 20px;
    margin:30px;
    margin-top:150px;
    
}


.socials, .socials a {
    padding:10px;
    justify-content: center;
    font-size: 20px;
    color:#d896ff;
    display:flex;
    flex-direction: row;
}
.socials img {
    height: 50px;
}
.socials button{
    margin-left:30px
}
.socials button a {
    color:black
}
.socials button a:hover {
    color:white;
    font-weight: bold;    
}
.socials button:hover {
    background-color: grey;
}